<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://watchportalfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/22007003-c2c2-4a42-9281-2a112e4c1f2d/resourceGroups/learn-1346b6df-c2ce-45b1-9571-08d9b1c9c493/providers/Microsoft.Web/sites/watchportalfunctions</ResourceId>
    <UserName>$watchportalfunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://watchportalfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>